<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppointmentManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>ds.vaishu.services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAdd</display-name>
    <servlet-name>EmpAdd</servlet-name>
    <servlet-class>ds.vaishu.services.EmpAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAdd</servlet-name>
    <url-pattern>/EmpAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>ds.vaishu.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegUser</display-name>
    <servlet-name>RegUser</servlet-name>
    <servlet-class>ds.vaishu.services.RegUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegUser</servlet-name>
    <url-pattern>/RegUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_04_Admin_Login</display-name>
    <servlet-name>_04_Admin_Login</servlet-name>
    <servlet-class>ds.vaishu.services._04_Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_04_Admin_Login</servlet-name>
    <url-pattern>/_04_Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_01_Admin_Login</display-name>
    <servlet-name>_01_Admin_Login</servlet-name>
    <servlet-class>ds.vaishu.services._01_Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_01_Admin_Login</servlet-name>
    <url-pattern>/_01_Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_02_Emp_Add</display-name>
    <servlet-name>_02_Emp_Add</servlet-name>
    <servlet-class>ds.vaishu.services._02_Emp_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_02_Emp_Add</servlet-name>
    <url-pattern>/_02_Emp_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_03_Emp_Login</display-name>
    <servlet-name>_03_Emp_Login</servlet-name>
    <servlet-class>ds.vaishu.services._03_Emp_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_03_Emp_Login</servlet-name>
    <url-pattern>/_03_Emp_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_04_User_Login</display-name>
    <servlet-name>_04_User_Login</servlet-name>
    <servlet-class>ds.vaishu.services._04_User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_04_User_Login</servlet-name>
    <url-pattern>/_04_User_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_05_User_Reg</display-name>
    <servlet-name>_05_User_Reg</servlet-name>
    <servlet-class>ds.vaishu.services._05_User_Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_05_User_Reg</servlet-name>
    <url-pattern>/_05_User_Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_06_User_BookingAp</display-name>
    <servlet-name>_06_User_BookingAp</servlet-name>
    <servlet-class>ds.vaishu.services._06_User_BookingAp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_06_User_BookingAp</servlet-name>
    <url-pattern>/_06_User_BookingAp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_07_User_ChangePass</display-name>
    <servlet-name>_07_User_ChangePass</servlet-name>
    <servlet-class>ds.vaishu.services._07_User_ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_07_User_ChangePass</servlet-name>
    <url-pattern>/_07_User_ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>_08_Emp_ChangePass</display-name>
    <servlet-name>_08_Emp_ChangePass</servlet-name>
    <servlet-class>ds.vaishu.services._08_Emp_ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_08_Emp_ChangePass</servlet-name>
    <url-pattern>/_08_Emp_ChangePass</url-pattern>
  </servlet-mapping>
</web-app>